/*============================================================================

    ## Footer

============================================================================*/

footer {
    @include section;
    height: 300px;
    color: $footer-text-color;
}

.site-info {
    text-align: center;
}