/*============================================================================

    ## Sidebars

============================================================================*/
.sidebar-news {
    @include media($large-screen) {
        padding-left: 1.3em;
    }
}

// --------------------------------------------------------------------------
//  Widgets
// --------------------------------------------------------------------------


//  Black Studio
// ----------------------------------------------
.widget_black_studio_tinymce {

}

//  Wordpress Standard
// ----------------------------------------------

.widgettitle {
    //background-color: transparentize($main-site-color, .5);
    //padding: .4em .5em;
    //color: white;
    font-family: $base-font-family;
    text-transform: uppercase;
    font-size: em(18);
    padding: 1em 0;
    border-bottom: 6px double #eee;
    border-top: $base-border;
}

.widget {
    margin-bottom: 4em;
}

.widget_recent_entries {
    ul {
        list-style: none;
        padding-left: 0;
        li {
            border-bottom: $base-border;
            padding: em(10) 0;
            &:last-child {
                border-bottom: none;
            }
            a {
                display: block;
            }
            .post-date {
                font-size: em(12);
            }
        }
    }
}

.widget_archive {

}
