$main-button-color: $main-site-color;

.button, button {
    background-color: lighten($main-button-color, 20%);
    border: none;
    outline: none;
    font-size: em(12);
    padding: em(12) em(20);
    // padding: 1.25rem 3rem 1.15rem;
    border-radius: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #4C5650;
    color: white;
    letter-spacing: 1px;
    transition: background-color .4s ease;
    &:hover {
        background-color: lighten($main-button-color, 30%);
        color: white;
    }

}
