/*============================================================================

    ## Modules

============================================================================*/

.hero {
    @include section;
    position: relative;
    .hero-inner {
        @include outer-container;
        .hero-header {
            color: #fff;
            h1 {
                font-size: 60px;
            }
        }
        .hero-header-single {
            position: absolute;
            left: 0;
            background-color: transparentize($main-site-color, .5);
            padding: 1em;
            color: #fff;
            width: 80%;
            @include media($medium-screen) {
                width: 30%;
                text-align: right;
            }
        }
    }
}
// --------------------------------------------------------------------------
//  Section content basic - with sidebar
// --------------------------------------------------------------------------
.content-block {
    @include section;
    background-color: #fff;
    &.army-listing-page {
        background-color: #f8f8f8;
    }
}

#secondary {
    padding-top: 2em;
    border-top: 6px double #ddd;
}

@include media($large-screen) {
    #primary {
        @include span-columns(8);
    }
    #secondary {
        @include span-columns(4);
        padding-top: 0;
        border-top: none;
        min-height: 1000px;
        //border-left: 6px double #ddd;
        border-left: $base-border;
    }
}

@include media($large-screen) {
    .landing-primary-container {
        @include span-columns(6);
    }
    .landing-secondary-container {
        @include span-columns(6);
    }
}

// --------------------------------------------------------------------------
//  Intro Text
// --------------------------------------------------------------------------
.intro-text {
    $intro-text-width: 60%;
    margin-bottom: 5em;
    //margin-top: 4em;
    text-align: center;
    h2 {
        font-family: $serif;
        font-weight: 800;
        margin-bottom: .3em;
        @include media($large-screen) {
            font-size: 3em;
            margin-bottom: .4em;
        }
    }
    h3 {
        background: $base-accent-color;
        color: white;
        display: inline-block;
        font-size: .7em;
        font-weight: 800;
        margin-bottom: 2em;
        padding: 3px 8px;
        text-transform: uppercase;
        @include media($large-screen) {
            margin-bottom: 3.3em;
        }
    }
    h4 {
        color: lighten($base-font-color, 20);
        font-size: 1.3em;
        font-weight: 300;
        line-height: 1.4em;
        margin: 0 auto 1em;
        @include media($large-screen) {
            font-size: 1.7em;
            line-height: 1.35em;
            margin: 0 auto 1em;
            width: $intro-text-width;
        }
    }
    p {
        margin: auto;
        @include media($large-screen) {
            width: $intro-text-width;
        }
        a {
            font-size: .8em;
            font-weight: 400;
            text-transform: uppercase;
            span {
                font-size: 1.3em;
                line-height: 0;
            }
        }
    }
}
// --------------------------------------------------------------------------
//  Army Listing boxes
// --------------------------------------------------------------------------
.army-listing-boxes {
    @include section;
    background-color: #F5f5f5;
}
.box-listing {
    @include animation(fadeIn 0.85s ease);
}
.box {
    @include clearfix;
    background-color: white;
    padding: 2em;
    margin-bottom: 1em;
    .box-image {
        float: left;
        // @include span-columns(6);
        img {
            max-width: 120px;
        }
    }
    .box-content {
        float: left;
        margin-left: 2em;
        // @include span-columns(6);
        em {
            font-family: $serif;
        }
    }
}

// --------------------------------------------------------------------------
//  Animations
// --------------------------------------------------------------------------

    .terrain-gallery {
         @include animation(fadeIn 0.85s ease);
    }

    .news-entry {
        @include animation(fadeIn 0.85s ease);
    }

    .battlereport-item {
        @include animation(fadeIn 0.85s ease);
    }