/*============================================================================

    ## Armies

============================================================================*/

// --------------------------------------------------------------------------
//  Army Listing boxes
// --------------------------------------------------------------------------

.box-listing {
    @include animation(fadeIn 0.85s ease);
}
.box {
    @include clearfix;
    background-color: white;
    padding: 2em;
    margin-bottom: 1em;
    text-align: center;
        @include media($medium-screen) {
            text-align: left;
        }
    .box-image {
        @include media($medium-screen) {
            float: left;
            // @include span-columns(6);
        }
        img {
            max-width: 120px;
        }
    }
    .box-content {
        @include media($medium-screen) {
            float: left;
            margin-left: 2em;
            padding-top: 1.3em;
            // @include span-columns(6);
        }
        em {
            font-family: $serif;
        }
    }
}

// --------------------------------------------------------------------------
//  Army listing Boxes
// --------------------------------------------------------------------------
.army-single-banner {
    //the topbanner for all armypages
    background: url('../img/priests_wallpaper.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
    // background-color: #F5f5f5;
}

// --------------------------------------------------------------------------
//  Army Single Page
// --------------------------------------------------------------------------
.army-chart-symbol {
    max-width: 70px;
}
.no-content-yet {
    @include clearfix;
    min-height: 200px;
}
// --------------------------------------------------------------------------
//  Tabs
// --------------------------------------------------------------------------
.accordion-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    $tab-border-color: $base-border-color;
    $tab-border: 1px solid $tab-border-color;
    $tab-content-background: lighten($light-gray, 10);
    $tab-active-background: $tab-content-background;
    $tab-inactive-color: #ddd; //$base-background-color
    $tab-inactive-hover-color: darken($light-gray, 5);
    $tab-mode: $medium-screen;
    @include clearfix;
    margin-bottom: $base-spacing;
    @include media(max-width $tab-mode) {
        border: $tab-border;
        border-radius: $base-border-radius;
    }
    .tab-header-and-content {
        @include media($tab-mode) {
            display: inline;
        }
        &:first-child .tab-link {
            border-top-left-radius: $base-border-radius;
            border-top-right-radius: $base-border-radius;
            @include media(max-width $tab-mode) {
                border-top: 0;
            }
        }
        &:last-child .tab-link {
            @include media(max-width $tab-mode) {
                border-bottom-left-radius: $base-border-radius;
                border-bottom-right-radius: $base-border-radius;
            }
        }
    }
    .tab-link {
        border-bottom: 1px solid #bbb;
        border-top: 1px solid #bbb;
        @include media($medium-screen) {
            border-bottom: none;
            border-top: none;
        }
        background-color: #f8f8f8; //$tab-inactive-color;
        border-top: $tab-border;
        color: $dark-gray;
        display: block;
        font-weight: bold;
        padding: $base-spacing/2 $gutter/2;
        @include media($tab-mode) {
            display: inline-block;
            border-top-left-radius: $base-border-radius;
            border-top-right-radius: $base-border-radius;
            border-top: 0;
        }
        &:hover {
            color: $base-link-color;
        }
        &:focus {
            outline: none;
        }
        &.is-active {
            background-color: $tab-active-background;
            @include media($tab-mode) {
                background-color: $tab-active-background;
                border: $tab-border;
                border-bottom-color: $tab-active-background;
                margin-bottom: -1px;
            }
        }
    }
    .tab-content {
        @include animation(fadeIn 0.85s ease);
        @include clearfix;
        width: 100%;
        background: $tab-content-background;
        display: none;
        padding: $base-spacing $gutter;
        @include media($tab-mode) {
            border-bottom-left-radius: $base-border-radius;
            border-bottom-right-radius: $base-border-radius;
            border-top-right-radius: $base-border-radius;
            border: $tab-border;
            float: left;
        }
    }
}

// --------------------------------------------------------------------------
//  TROOPS display
// --------------------------------------------------------------------------

.troop-entry-main {
    margin-bottom: $vertical-padding;
    @include clearfix;

    .image-container {
        margin-bottom: 2em;
    }


    @include media($desktop) {
        .image-container {
            @include span-columns(7);
        }
        .stats-container {
            @include span-columns(5);
        }
    }
}

.troop-entry-title {
    margin-bottom: $vertical-padding-small;
    display: block;
    @include media($medium-screen) {
        border-bottom: $base-border;
        h2 {
            padding-bottom: 1em;
        }
    }
}


.misc-entry-gallery {
    @include clearfix;
    .misc-gallery-item {
        display: inline-block;
        @include span-columns(2);
        @include omega(6n);
        margin-bottom: 1em;

        .misc-gallery-item-desc {
            display: block;
        }
    }
}
