/*============================================================================

    ## Home Page

============================================================================*/

.home-page {
    background: url('../img/priests_wallpaper.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
}

.landing-news-section {
    ul {
        @include nobullet-list;
    }
    h3 {
        background: $base-accent-color;
        color: white;
        display: inline-block;
        font-size: .7em;
        font-weight: 800;
        margin-bottom: 2em;
        padding: 3px 8px;
        text-transform: uppercase;
        @include media($large-screen) {
            margin-bottom: 3.3em;
        }
    }
}