/*============================================================================

    ## News / HOME.PHP

============================================================================*/

.news-entry {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
    padding-bottom: 1em;
    &:last-child {
        border-bottom: none;
    }

    p.type {
        a {
            color: #000;
        }
    }

}

.entry-content {
    padding-top: 2em;
}